[submodule "doc/source/poco-sphinx"]
	path = doc/source/poco-sphinx
	url = https://git.atelo.org/etlapale/poco-sphinx.git
[submodule "tests/Catch"]
	path = tests/Catch
	url = https://github.com/philsquared/Catch.git
