*~
*.swp
doc/html
tests/tests
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cuiloa-cppunit-test
Makefile
install_manifest.txt
cuiloa.pc
doc/Doxyfile
sync-doc
cuiloa-*.*.tar.xz
hdf5-test-*
\#*\#
cuiloa-catch-test
*.png
a.out
bla.*
