*~
*.swp
doc/html
tests/tests
CMakeCache.txt
CMakeFiles
cmake_install.cmake
necomi-cppunit-test
Makefile
install_manifest.txt
necomi.pc
doc/Doxyfile
sync-doc
cuiloa-*.*.tar.xz
necomi-*.*.tar.xz
hdf5-test-*
\#*\#
necomi-catch-test
*.png
a.out
bla.*
*.dat
tests/catch.hpp
.emacs.desktop*
